<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="mailConfiguration" type="Cosmo.MailService.MailTemplateParserSection,Cosmo.MailService" />
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000">
          <converters>
          </converters>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <mailConfiguration defaultProvider="MailTemplateProvider">
    <providers>
      <add name="MailTemplateProvider" type="Cosmo.MailService.MailTemplateProvider,Cosmo.MailService" smtpServerHost="mailtrap.io" smtpPort="2525" requiredAuthentication="true" smtpUser="NzViYWNhZTIzYmY5MTA=" smtpPassword="NDU0MjkyZWE0YWViMTY=" smtpEnableSSL="true" mailTemplatePath="mail.config" />
    </providers>
  </mailConfiguration>
  <appSettings>
    <add key="LogFileLocation" value="D:\Projects\Cognos\Monitor\XP\Latest\Cosmo.Web\Cosmo.Web\Logs" />
    <add key="LogFileName" value="WebTrackLog.txt" />
    <add key="LoggedInUser" value="10001" />
    <add key="LocationUnavailableError" value="No location detail exists!" />
    <add key="ContentService" value="Content Manager" />
    <add key="DispatcherService" value="Dispatcher" />
    <add key="SchedulerEndTime" value="23:59:00 PM" />
    <add key="NoServiceAvailable" value="No service available" />
    <add key="NoServiceScheduled" value="No service(s) are scheduled" />
    <add key="AllServiceScheduled" value="All service(s) are scheduled" />
    <add key="UnableToScheduleService" value="Unable to schedule the service since email id has not yet setup" />
    <add key="NoMonitorStatusAvailable" value="Monitor status is not available" />
    <add key="CosmoServiceName" value="Cosmo Monitor Service" />
    <add key="NoEnvironmentAvailable" value="No environment available" />
    <add key="WindowsServiceTimeout" value="600" />
    <add key="RemoteSystemURLForServiceStatus" value="http://{0}:7777/owin/Status/" />
    <add key="RemoteSystemURLForServerPerformance" value="http://{0}:7777/owin/Server/" />
    <add key="RememberMeExpires" value="30" />
    <!--Expires in days-->
    <!--set time for service running timout-->
    <add key="TestToAddress" value="com" />
    <add key="Acknowledge" value="Acknowledge" />
    <add key="GroupSchedule" value="ScheduleWindowsServiceOperation" />
    <add key="Acknowledge_Alert_Stopped" value="Acknowledge_Alert_Stopped" />
    <add key="Acknowledge_Alert_Started" value="Acknowledge_Alert_Started" />
    <add key="ScheduleWindowsServiceOperationCancelled" value="ScheduleWindowsServiceOperationCancelled" />
    <add key="ScheduleWindowsServiceOnDemand" value="ScheduleWindowsServiceOnDemand" />
    <add key="AdminAddress" value="hellocosmo@teamclutch.com" />
    <add key="TestToAddress" value="com" />
    <add key="CosmoVersion" value="1.0.2" />
    <add key="DatabaseType" value="Oracle" />
  </appSettings>
  <connectionStrings>
    <add name="CSMConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=snowflake)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe))); user id=Y29zbW9fMDQyMzE3; password=Y29zbW9fMDQyMzE3;Connection Timeout=60;"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <machineKey validationKey="C7DDE092A66183CB37AF6DCAC67F53E6D35E13F2F8DCE813998C15B584313741D2A7674B40B1E3756B39F0512197771A9A62E52DC821752F4E11F9478C0B6233" decryptionKey="088869EEE571A73117A49D1DEDFBFD883855A25368D4B84FAFAA0D884BB7844E" validation="SHA1" decryption="AES" />
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never">
      <controls>
        <add tagPrefix="ucl" tagName="UpdateProgress" src="~\controls\UpdateProgress.ascx" />
      </controls>
    </pages>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <customErrors mode="Off" defaultRedirect="~/error/Oops.aspx">
      <error statusCode="404" redirect="~/error/PN404.aspx" />
    </customErrors>
    <identity impersonate="false" />
    <authentication mode="Forms">
      <forms loginUrl="Login.htm" defaultUrl="/Forms/Dashboard.aspx" path="/">
      </forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--<httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="allow" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
</configuration>