<?xml version="1.0" encoding="utf-8" ?>
<ArrayOfMailTemplateField xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- 001 -->
	<!-- 002 -->
	<MailTemplateField>
		<Id>Content Service</Id>
		<IsHtml>true</IsHtml>
		<From>{{AdminAddress}}</From>
		<To>{{DistributionEmail}}</To>
		<Cc>{{CCAddress}}</Cc>
		<Bcc></Bcc>
		<ReplyTo>{{AdminAddress}}</ReplyTo>
		<Subject>{{EnvName}} Environment - {{ServiceType}} Service Failure Notice (Server/port – {{HostIPPort}}) </Subject>
		<Attachment></Attachment>
		<Body>
			<![CDATA[<div style="font-family:Verdana">
			<p> Hi, <br><br>
              This message is to notify that one of the service is unavailable for the below server.
              <br><br><br>
			  <b>Notification Details</b><br>
              <hr>
			  
              <table style='width:1000px;border:0px solid #ccc;'>
				  <tr> 
					<td style='width:20%;padding:5px;'>Environment</td><td>: {{EnvName}}</td>
				  </tr>
				  <tr>
					<td style='padding:5px;'>Service Type</td><td>: {{ServiceType}}</td>
				  </tr>
				  <tr>
					<td style='padding:5px;'>Server / Port:</td><td>: {{HostIPPort}}</td>
				  </tr>
				  <tr>
					<td style='padding:5px;'>Service Status</td><td>: {{Status}}</td>
				  </tr>
				  <tr>
					<td style='padding:5px;'>Comments</td><td>: {{Comments}}</td>
				  </tr>
			  </table>
			  
			  </div>
			  <br><br><br>
              <div style="font-family:verdana;font-size:.85em"><i>This email has been automatically generated by Cosmo Application. Please do not reply to this email.</i></div>
             ]]>
		</Body>
	</MailTemplateField>
	
	<!-- 002 SMS -->
	<MailTemplateField>
		<Id>Content Service_sms</Id>
		<IsHtml>false</IsHtml>
		<From>{{AdminAddress}}</From>
		<To>{{DistributionEmail}}</To>
		<ReplyTo>{{AdminAddress}}</ReplyTo>
		<Subject>{{EnvName}} Environment - {{ServiceType}} Service Failure Notice (Server/port – {{HostIPPort}}) </Subject>
		<Attachment></Attachment>
		<Body>
			<![CDATA[ {{EnvName}}/{{ServiceType}}/{{HostIPPort}}/{{Status}} ({{Comments}}) ]]>
		</Body>
	</MailTemplateField>

	<!-- 003 -->
	<MailTemplateField>
		<Id>Dispatcher</Id>
		<IsHtml>true</IsHtml>
		<From>{{AdminAddress}}</From>
		<To>{{DistributionEmail}}</To>
		<Cc>{{CCAddress}}</Cc>
		<Bcc></Bcc>
		<ReplyTo>{{AdminAddress}}</ReplyTo>
		<Subject>{{EnvName}} Environment - {{ServiceType}} Service Failure Notice (Server/port – {{HostIPPort}})</Subject>
		<Attachment></Attachment>
		<Body>
			<![CDATA[<div style="font-family:Verdana">
			<p> Hi,<br><br>
              This message is to notify that one of the service is unavailable for the below server.
              <br><br><br>
			  <b>Notification Details</b><br>
              <hr>
			  
              <table style='width:1000px;border:0px solid #ccc;'>
				  <tr> 
					<td style='width:20%;padding:5px;'>Environment</td><td>: {{EnvName}}</td>
				  </tr>
				  <tr>
					<td style='padding:5px;'>Service Type</td><td>: {{ServiceType}}</td>
				  </tr>
				  <tr>
					<td style='padding:5px;'>Server / Port:</td><td>: {{HostIPPort}}</td>
				  </tr>
				  <tr>
					<td style='padding:5px;'>Service Status</td><td>: {{Status}}</td>
				  </tr>
				  <tr>
					<td style='padding:5px;'>Comments</td><td>: {{Comments}}</td>
				  </tr>
			  </table>
			  
			  </div>
			  <br><br><br>
              <div style="font-family:verdana;font-size:.85em"><i>This email has been automatically generated by Cosmo Application. Please do not reply to this email.</i></div>
             ]]>
		</Body>
	</MailTemplateField>
	
	<!-- 003 sms-->
	<MailTemplateField>
		<Id>Dispatcher_sms</Id>
		<IsHtml>false</IsHtml>
		<From>{{AdminAddress}}</From>
		<To>{{DistributionEmail}}</To>
		<Cc>{{CCAddress}}</Cc>
		<Bcc></Bcc>
		<ReplyTo>{{AdminAddress}}</ReplyTo>
		<Subject>{{EnvName}} Environment - {{ServiceType}} Service Failure Notice (Server/port – {{HostIPPort}})</Subject>
		<Attachment></Attachment>
		<Body>
			<![CDATA[{{EnvName}}/{{ServiceType}}/{{HostIPPort}}/{{Status}} ({{Comments}})]]>
		</Body>
	</MailTemplateField>
	

	<!-- 004 -->
	<MailTemplateField>
		<Id>SubscriptionReport</Id>
		<IsHtml>true</IsHtml>
		<From>{{AdminAddress}}</From>
		<To>{{DistributionEmail}}</To>
		<Cc>{{CCAddress}}</Cc>
		<Bcc></Bcc>
		<ReplyTo>{{AdminAddress}}</ReplyTo>
		<Subject>Cosmo - Cognos BI Environment {{Type}} Service Status Report </Subject>
		<Attachment></Attachment>
		<Body>
			<![CDATA[<div style="font-family:Verdana">
			<p> Hi,<br><br>
              This message is to notify about Cognos BI Environment {{Type}} Service Status Report from {{StartDateTime}} to {{EndDateTime}}.
              <br><br><br>
			  <b>Service Details</b><br>
              <hr>
			  
				{{ServiceStatusDetails}}
			  
			  </div>
			  <br><br><br>
              <div style="font-family:verdana;font-size:.85em"><i>This email has been automatically generated by Cosmo Application. Please do not reply to this email.</i></div>
             ]]>
		</Body>
	</MailTemplateField>

	<!-- 004 sms-->
	<MailTemplateField>
		<Id>SubscriptionReport_sms</Id>
		<IsHtml>false</IsHtml>
		<From>{{AdminAddress}}</From>
		<To>{{DistributionEmail}}</To>
		<Cc>{{CCAddress}}</Cc>
		<Bcc></Bcc>
		<ReplyTo>{{AdminAddress}}</ReplyTo>
		<Subject>Cosmo - {{Type}} Service Status Report from {{StartDateTime}} to {{EndDateTime}} </Subject>
		<Attachment></Attachment>
		<Body>
			<![CDATA[ {{ServiceStatusDetails}} ]]>
		</Body>
	</MailTemplateField>

	<!-- 005 -->
	<MailTemplateField>
		<Id>UrlMonitorAlert</Id>
		<IsHtml>true</IsHtml>
		<From>{{AdminAddress}}</From>
		<To>{{DistributionEmail}}</To>
		<Cc>{{CCAddress}}</Cc>
		<Bcc></Bcc>
		<ReplyTo>{{AdminAddress}}</ReplyTo>
		<Subject>Cosmo - Cognos URL Monitor Status of {{EnvName}} Environment </Subject>
		<Attachment></Attachment>
		<Body>
			<![CDATA[<div style="font-family:Verdana">
			<p> Hi,<br><br>
              This message is to notify about Cognos URL Monitor Status of {{EnvName}} Environment.
              <br><br><br>
			  Last ping time of URL: <a href="{{Address}}">{{Address}}</a> is {{ResponseTimeInSec}} sec which is greater than the threshold limit of {{ThresholdTime}} {{ThresholdUnit}}
			  
			  </div>
			  <br><br><br>
              <div style="font-family:verdana;font-size:.85em"><i>This email has been automatically generated by Cosmo Application. Please do not reply to this email.</i></div>
             ]]>
		</Body>
	</MailTemplateField>

	<!-- 004 sms-->
	<MailTemplateField>
		<Id>UrlMonitorAlert_sms</Id>
		<IsHtml>false</IsHtml>
		<From>{{AdminAddress}}</From>
		<To>{{DistributionEmail}}</To>
		<Cc>{{CCAddress}}</Cc>
		<Bcc></Bcc>
		<ReplyTo>{{AdminAddress}}</ReplyTo>
		<Subject>Cosmo - Cognos URL Monitor Status of {{EnvName}} Environment </Subject>
		<Attachment></Attachment>
		<Body>
			<![CDATA[ Last ping time of URL: <a href="{{Address}}">{{Address}}</a> is {{ResponseTimeInSec}} sec ]]>
		</Body>
	</MailTemplateField>
</ArrayOfMailTemplateField>

