
.container{
	width: 100%;
	/*height: 100%;*/
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
	padding: 20px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    	text-align: center;
}
.container > header h1{
	/*font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;*/
	font-size: 35px;
	line-height: 35px;
	position: relative;
	/*font-weight: 400;*/
	color: rgba(26,89,120,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{
	color: #7cbcd6;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h2{
	font-size: 16px;
	font-style: italic;
	color: #2d6277;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
/* Header Style */
.codrops-top{
	line-height: 20px;
	/*background: rgba(255, 255, 255, 0.4);
	background-color: #DAE3E7;-- #BFD2D9;--#E0EBEF;--#7cbcd6;*/
	background-color:#f9f9f9;
	/*--font-color: #fff;
	--text-transform: uppercase;*/
	z-index: 1;
	position: relative;
	/*box-shadow: 1px 0px 1px rgba(0,0,0,0.3);*/

}
.codrops-top .imgeContainer{
	width:400px;
	float:left;
	align:left;
	vertical-align: middle;
	margin: 5px 10px 5px 10px;
}
.codrops-top .imgeContainer .imge{
	width:70px;
	float:left;
	/*text-align:left;*/
	
}
.codrops-top .imgeContainer .logoHeader{
	text-align:left;
	font-size: 20px;
	font-family: Arial, Georgia, "Times New Roman", Times, serif;
	margin: 15px 0 0 15px;
	padding: 0 0 0 10px;
	color: #066A75;
}
.codrops-top .imgeContainer a{
	padding: 0px 10px;
	color: #333;
	display: block;
	float: left;
}

.codrops-top .imgeContainer a:hover
{
    text-decoration:none;
}
.codrops-top1 a{
	padding: 0px 10px;
	/*letter-spacing: 2px;*/
	color: #333;
	/*text-shadow: 0px 1px 1px #fff;*/
	display: block;
	float: left;
	text-decoration:none;
}

codrops-top a
{
    
}
.right{
	padding: 0px 30px 0px 0px;
	float: right;
	/*border:1px solid #ccc;*/
	line-height: 20px;
	font-size:11px;

}
.codrops-top span.right a{
	float: left;
	display: block;
	font-family: Arial, Georgia, "Times New Roman", Times, serif;
}
.codrops-top span.right a:hover{
	background: #dfdfdf;
	color:rgb(6, 106, 117);
	text-decoration:underline
}

.codrops-demos{
	text-align:center;
	display: block;
	padding: 14px;
}
.codrops-demos span{
	display: inline-block;
	padding-right: 15px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.footer{
	width: 100%;
	height: 35px;
	text-align: left;
	background: #F7F6F9;
	border: 1px solid #D2D2D2;
	left:1px;
	font-size:.8em;
	position: inherit;	
    bottom:0;
    right: 15px;

}
.footer span.copy
{
    float:left;
    margin: 8px 0 0 15px;
    border: 0px solid #D2D2D2;
}
.footer span.menus
{
    float:right;
    margin: 8px 30px 0 20px;
}

    .modal_progress
    {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }
    .loading_progress
    {
        font-family: Arial;
        font-size: 10pt;
        border: 5px solid #67CFF5;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
    }
.divPlainUpdateProgress {
	position: fixed; 
	top: 50%; 
	left: 40%;
	width: 0;
	height: 0;
	z-index: 2;
	text-align:center;
	border:1px 1px 1px 1px;
	width:240px;
	border-color:Black;
	border-style:solid;
	background-color:White
}
 
* html .divPlainUpdateProgress {position: absolute;
top:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop
+((documentElement.clientHeight-this.clientHeight)/2)
: document.body.scrollTop
+((document.body.clientHeight-this.clientHeight)/2));
 
left:expression(eval(document.compatMode &&
document.compatMode=='CSS1Compat') ?
documentElement.scrollLeft 
+ (document.body.clientWidth /2.45 ) 
: document.body.scrollLeft 
+ (document.body.offsetWidth /1.4 ));
}
 
/* slight adjustment */
.divPlainUpdateProgress img {
float: left;
margin: -22px -50px -70px 0;
position: relative;
}
    

.welcome{
	margin: 10px 20px 0px 0px;
	float: right;
	border:1px solid #ccc;
	line-height: 20px;
	color: #000;

	/*text-decoration:underline;*/
	/*border-bottom: solid 3px #E18728;*/
	
	/*
    border-bottom: solid 2px #000;
    display: inline;
    padding-bottom: 0px;
    */
}
.welcome label
{
    font-weight:normal;
}

   .welcome1 ul{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
    }
   .welcome1 ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
   .welcome1 ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
   .welcome1 ul li a:hover{
        color: #fff;
        background: #939393;
    }
   .welcome1 ul li ul.dropdown{
        min-width: 125px; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: relative;
        z-index: 999;
        left: 0;
    }
   .welcome1 ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
   .welcome1 ul li ul.dropdown li{
        display: block;
    }
    
    
.responsive-container {
    position: relative;
    width: 100%;
    border: 0px solid black;
    
}

.dummy {
    padding-top: 40%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

    .left-cs {
        text-align:center;
        width: 50%;
         border: 0px solid #ccc;
         display:inline-block;
    }
    .right-cs {
        float: right;
        width: 50%;
        top:0;
         border: 0px solid #ccc;
         vertical-align:top;
    }
    .img-cs {
        
        height: auto;
    }
    .group-cs:after {
        content:"";
        display: table;
        clear: both;
        border: 0px solid #ccc;
    }
    @media screen and (max-width: 480px) {
        .left-cs, .right-cs {
            float: none;
            width: auto;
        }
    }

    
/* MEDIA QUERIES */
@media screen and (min-width: 37.5em ) {
    .leftColumn { margin-right: 55.5em; }

	.rightColumn { position: absolute; top: 0; right: 0; width: 55em; }   
}
.leftColumn { margin-bottom: .5em; }
.leftColumn1, .rightColumn1{  border: 1px solid  #ccc; padding: 1.25em; }
.leftColumn {  border-right: 1px solid  #ccc; padding: 1.25em; }
.rightColumn {  padding: 1.25em; }

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe,
.videoWrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.leftDiv {
    float:left;
    width:25%;
    display:inline-block;
    padding: .75em;
    border: 0px solid  #ccc; 
    height:100%;
}



.rightDiv {
    width:70%;
    padding: .75em;
    border-left: 1px solid  #ccc; 
    display:inline-block;
    vertical-align:top;
    top:0;
    float:left;

}
    
.trial {
    /*margin-left: 508px;*/
    width: 500px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.trial span.lic-trial
{
    color: red;
    background-color: #ffffbb;
    font-size: 14px;
}

.trial span.lic-activated
{
    color: darkgreen;
    background-color: #dff0d8;
    font-size: 14px;
}


div.block_main, .padding_main {
	/*position: absolute;*/
	border: 1px solid #EEE;
    min-height: 200px;
    width: 100%;
	/*min-width: 65%;*/
    float: left;
    margin: 3px;

    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
	-webkit-border-left-radius: 4px;
	-webkit-border-right-radius: 4px;
       -moz-border-left-radius: 4px;
       -moz-border-right-radius: 4px;
		    border-top-left-radius: 4px;
		    border-top-right-radius: 4px;

}

div.content_header
{
    /*border-bottom: 2px solid  #961D0F; /*#DFAF02;*/
    /*background-color: #d8d8d8; */
	
	font: 1.3em Arial, Helvetica,  sans-serif;
    /*height: 25px;*/
    width:50%;
    
    padding: 5px 5px 5px 10px;
	text-align:left;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.content_header_popup
{
    border-bottom: 1px solid #EEE;
    background-color: #337ab7;
	/*font: bold 12px Arial, Helvetica,  sans-serif;
    height: 15px;*/
    padding: 8px 15px;
	text-align:left;
	color:#fff;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.block_main_form, .padding_main {
	border: 1px solid #ccc;
    background: #f9f9f9;
    
    width: 100%;
	min-width: 55%;
	height:99%;
    float: left;
    margin: 1px;
	
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
	-webkit-border-left-radius: 4px;
	-webkit-border-right-radius: 4px;
       -moz-border-left-radius: 4px;
       -moz-border-right-radius: 4px;
		    border-top-left-radius: 4px;
		    border-top-right-radius: 4px;

}

div.block_main_form_popup {
	border: 1px solid #ccc;
    background: #f5f5f5;
    
    width: 100%;
	height:100%;
    float: left;
    margin: 0px;
	
    display:inline-block;
    *display:inline;
    zoom:1;
    vertical-align:top;
	-webkit-border-left-radius: 4px;
	-webkit-border-right-radius: 4px;
       -moz-border-left-radius: 4px;
       -moz-border-right-radius: 4px;
		    border-top-left-radius: 4px;
		    border-top-right-radius: 4px;

}

#divFrequency
{
    margin-left:20px;
    margin-right:auto;
    margin-bottom:10px;
}
#divDuration
{
 	font-family: Helvetica, sans-serif;
	font-size: .82em;   
    margin-left:20px;
    margin-right:auto;
    border:1px solid #ccc;
     margin-top:10px;
}

.ping-status {margin-top: 37px;margin-left: -20px;}
.no-close .ui-dialog-titlebar-close {display: none }