.menu, .menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    line-height: 2.5em;
}
.menu a
{
    text-decoration: none;
}
.menu > li
{
    margin-left: 1px; /*15px*/
}
.menu > li:first
{
    margin-left:0px!important;
    }
.menu > li > a
{
    padding: 0px 10px;
    margin: 0;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
	font-size:1.1em;

}
div.box
{
    position: absolute;
    z-index: -1;
    background-color: rgb(72, 121, 139); /*rgba(71, 103, 138, 0.76); /*rgba(35, 58, 82, 0.76); /*75CDD2*/
    left: 0;
    top: 0;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}
li.pull-down
{
    padding-right:0px;
    }
li.pull-down > a
{
    /*background-image: url('../images/darrow.png');*/
    background-position: 96% 75%;
    background-repeat: no-repeat;
    padding-right: 10px;
}
li.right-menu > a
{
    background-image: url('../images/rarrow.png');
    background-position: 97% 45%;
    background-repeat: no-repeat;
}
.menu a.selected
{
    background-color: #537F8C; /*#537F8C; /*#75CDD2;*/
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
}
.menu li
{
    float: left;
    position: relative;
}

.menu ul
{
    font-size:1em;
    position: absolute;
	right:0px;
    display: none;
    width: 200px;
    border:1px solid #bbb;
    top: 2.5em; /*padding-right: 10px;*/
    background-color: #f7f7f7; /*#B2D4DF; #537F8C; /*#75CDD2;*/ /*-moz-opacity: .50;     filter: alpha(opacity=50);     opacity: .50;*/
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
}

.menu li ul a
{
    width: 199px;
    height: auto;
    float: left;
    color: #000; /*FFFEFD*/
    padding: 0 10px;

    /*border-bottom:1px solid #eee;*/
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    border-bottom-style:inset;
    /*font-size:.98em;*/
}
.menu li ul li
{
    padding: 0;
    margin: 0;
}
.menu ul ul
{
    top: auto;
}

.menu li ul ul
{
    left: -198px; /*margin: 0px 0 0 10px;*/
}
.menu-item-selected > a,
.menu-item-selected > a:active
{
    background-color: #105368; /* rgb(58, 87, 193);/*FFFEFD*/
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .80;
}
.menu-item-selected > a:hover
{
    color: #fff !important; /*#257E84 105368*/
}
