/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 75px;
  /*background-color: #e3eef8; /*#F1F5FA;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
    height: auto;
  border-top: 5px solid #51799a; /*5px solid rgb(232, 159, 46); !important;*/  
  background-color: #2e4558; /*rgba(44, 67, 90, 0.89);*/
  border-bottom-color:#222;
  
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 20px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {

    padding-right: 15px;
    padding-left: 15px;
  /*background-color:rgb(118, 165, 183);*/
    font-size: 1.0em;
    color: #e3eef8;
    width: 1400px;
}
.footer > .container a{
	color: #e3eef8 ;
}

.footer_status {
  position: absolute;
  bottom: 0;
  width: 98%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #ccc; /*rgba(44, 67, 90, 0.89);*/
  border-bottom-color:#222;
  
}

code {
  font-size: 80%;
}
/*Menu bg color rgb(8, 68, 99); selected rgb(7, 44, 64);*/
hr {
       border-top: 2px solid rgba(58, 88, 119, 0.84); !important; /*37474F 395969 rgba(32, 58, 86, 0.84); rgba(14, 52, 93, 0.84) good one rgb(32, 68, 86); rgb(13, 58, 80); rgb(33, 63, 95);*/
       margin-bottom:3px !important; 
       margin-top:3px !important;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
   }
hr1.gradient {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* Glyph, by Harry Roberts */


/*
.dropdown:hover .dropdown-menu {
display: block;
}
*/

.bs-example1 {
    position: relative;
    padding: 15px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.top-header {
    margin-right: 0;
    margin-left: 0;
	min-height:40px;
	padding: 10px 15px 10px 0px;
    background-color: #2e4558; /*rgba(115, 146, 178, 0.89); /*rgba(72, 121, 139, 0.89); /*rgba(72, 105, 139, 0.76);*/
    border-color: #ddd;
    border-width: 1px;
    /*border-radius: 4px 4px 0 0;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}

.top-space
{
	margin-top:20px;
}
.activation-message
{
    width: 30%;
    padding: 10px;
	text-align:center;
    margin-left: 40%;
	margin-top: 5px;
	transform: translate(-10%, -10%);
}