<?xml version="1.0"?>
<configuration>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <configSections>
    <section name="mailConfiguration" type="Cog.CSM.MailService.MailTemplateParserSection,Cog.CSM.MailService"/>
  </configSections>
  <mailConfiguration defaultProvider="MailTemplateProvider">
    <providers>
		<add name="MailTemplateProvider" type="Cog.CSM.MailService.MailTemplateProvider,Cog.CSM.MailService" smtpServerHost="mailtrap.io" smtpPort="2525" requiredAuthentication="true" smtpUser="MWUwNWNkNWRlMWQyYTQ=" smtpPassword="ZmRiNGMzZmZlZmExYmE=" smtpEnableSSL="true" mailTemplatePath="mail.config" />
	</providers>
  </mailConfiguration>
  <appSettings>
    <add key="LogFileLocation" value=""/>
    <add key="LogFileName" value="WindowsService.txt"/>
    <add key="MailToBeSent" value="Y"/>
    <add key="TestMail" value="Y"/>
    <add key="AdminAddress" value="a@a.com"/>
    <add key="ToAddress" value="a@a.com"/>
    <add key="CcAddress" value="a@a.com"/>
    <add key="TestToAddress" value="a@a.com"/>
    <add key="TestBccAddress" value="a@a.com"/>
    <add key="mailTemplatePath" value=""/>
    <add key="ServiceStopped" value="stopped"/>
    <add key="ServiceFailure" value="Failed"/>
    <add key="ServiceNotRunning" value="not running"/>
    <add key="ContentService" value="Content Manager"/>
    <add key="DespatcherService" value="Dispatcher"/>
    <!--Mail ID for Windows Service operation-->
    <add key="ServiceOperationSuccess" value="ServiceOperationSuccess"/>
	<add key="ServiceOperationUnsuccess" value="ServiceOperationUnsuccess"/>
	<add key="ServiceOperationFailure" value="ServiceOperationFailure"/>
	<add key="ScheduleWindowsServiceOperationStarted" value="ScheduleWindowsServiceOperationStarted"/>
	<add key="ServiceOperationTimedout" value="ServiceOperationTimedout"/>
	<add key="ServiceOperationPartiallyTimedout" value="ServiceOperationPartiallyTimedout"/>
  <add key="WindowsServiceTimeout" value="500"/>
  <add key="smtpServerHost" value="smtp.mail.yahoo.com"/>
  <add key="smtpServerPort" value="587"/>
  <add key="UserId" value="com"/>
  <add key="UserPassword" value="@"/>
  <add key="ServiceOperationPath" value=""/>
  <add key="ClientSettingsProvider.ServiceUri" value=""/>
  <add key="SystemUser" value="1"/>
  <add key="RemoteSystemURLForServiceStatus" value="http://{0}:7777/owin/Status/" />
  <add key="RemoteSystemURLForServer" value="http://{0}:7777/owin/Server/" />
  <add key="ServiceOperationBySelfHost" value="Y" />
  <add key="MonitorServerPerformanceInterval" value="10" />
  <add key="DatabaseType" value="Oracle" />
  </appSettings>
  <connectionStrings>
    <!--<add name="CSMConn" connectionString="Data Source=snowflake;User ID=c2E=;password=c29uYXRhJDk=;Initial Catalog=Booty;" providerName="System.Data.SqlClient"/>-->
    <add name="CSMConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=snowflake)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe))); user id=Y29zbW9sb2NhbA==; password=Y29zbW9sb2NhbA==;Connection Timeout=60;"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
