<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="mailConfiguration" type="Cosmo.MailService.MailTemplateParserSection,Cosmo.MailService" />
  </configSections>
  <mailConfiguration defaultProvider="MailTemplateProvider">
    <providers>
      <add name="MailTemplateProvider" type="Cosmo.MailService.MailTemplateProvider,Cosmo.MailService" smtpServerHost="mailtrap.io" smtpPort="2525" requiredAuthentication="true" smtpUser="NzViYWNhZTIzYmY5MTA=" smtpPassword="NDU0MjkyZWE0YWViMTY=" smtpEnableSSL="true" mailTemplatePath="mail.config" />
    </providers>
  </mailConfiguration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogFileLocation" value="D:\Projects\Cognos\Monitor\XP\Latest\Cosmo.Web\Cosmo.Web\Logs" />
    <add key="LogFileName" value="MobileService.log" />
    <add key="LocationUnavailableError" value="No location detail exists!" />
    <add key="ContentService" value="Content Manager" />
    <add key="DispatcherService" value="Dispatcher" />
    <add key="GroupSchedule" value="ScheduleWindowsServiceOperation" />
    <add key="Acknowledge_Alert_Stopped" value="Acknowledge_Alert_Stopped" />
    <add key="Acknowledge_Alert_Started" value="Acknowledge_Alert_Started" />
    <add key="ScheduleWindowsServiceOnDemand" value="ScheduleWindowsServiceOnDemand" />
    <add key="WindowsServiceTimeout" value="120" />
    <add key="AdminAddress" value="hellocosmo@teamclutch.com" />
    <add key="CosmoMonitorService" value="Cosmo Monitor Service" />
    <add key="AuthenticationWebOnly" value="You do not have privillage to access the Mobile App" />
    <add key="AuthorizationFailure" value="You are not authorized to use Mobile App" />
    <add key="RemoteSystemURLForServiceStatus" value="http://{0}:7777/owin/Status/" />
    <add key="RemoteSystemURLForServerPerformance" value="http://{0}:7777/owin/Server/" />
    <add key="RememberMeExpires" value="30" />
    <add key="DatabaseType" value="Oracle" />
  </appSettings>
  <connectionStrings>
    <add name="CSMConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=snowflake)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe))); user id=Y29zbW9fMDQyMzE3; password=Y29zbW9fMDQyMzE3;Connection Timeout=60;"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime relaxedUrlToFileSystemMapping="true" />
    <compilation debug="true" targetFramework="4.0" />
    <!--<machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="3DES" decryption="3DES"/>-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>